Thumbs.db
imgui.ini
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.7z
*.zip
*.rar
[Dd]ebug
[Dd]ebugOptimize
[Rr]elease
World.VC.opendb
/rapidjson/
/textures
*.orig
*.~vsd
*.psess
*.vsp
*.db
*.opendb
/.vs/config/applicationhost.config
