Thumbs.db
imgui.ini
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.7z
*.zip
*.rar
[Dd]ebug
[Dd]ebugOptimize
[Rr]elease
World.VC.opendb
*.orig
*.~vsd
*.psess
*.vsp
*.db
*.opendb
/.vs/config/applicationhost.config
/3rdparty
/lib_source/zlib/
/lib_source/SDL-mirror/
/lib_source/magnum-plugins/
/lib_source/magnum/
/lib_source/libpng/
/lib_source/glfw/
/lib_source/flatbuffers/
/lib_source/corrade/
/build.cmd
